<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--HTTPOnly Cookies Fix-->
        <add name="Arr-Disable-Session-Affinity" value="True" />
        <!--Excessive Headers Fix-->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>
